.estimator {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;;

    @media (max-width: 1000px) {
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr
    }

    svg {
        width: 1.25rem;
    }
}

.formScroll {
    --overflow: scroll;

    display: grid;
    width: 100%;
    height: 100%;

    padding: 1em 0;
    overflow: var(--overflow);

    @media (max-width: 1000px) {
        box-shadow: var(--button-shadow);
    }
}

.formWrapper {
    max-width: 32em;
    margin: 0 2em;
    justify-self: center;
    align-self: center;
}

.suggestions {
    position: absolute;

    &.hidden {
        display: none;
    }
}

.controls {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    gap: 1em;
}

.mapWrapper {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -1;
}

.map {
    grid-area: map;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading {
    text-align: center;
    font-style: italic;;
}
